<div class="box box-solid">
    <div class="box-header with-border">
        <h3>Database browser</h3>
    </div>
    <div class="box-body text-left">
        <p>Press <b>SEARCH</b> to display the table of database records.</p>
        
        <p>
        Database search can be narrowed by adding text and/or sequence filter in panels below:
        <ul>
        <li>Exact (with autocomplete), substring and REGEX pattern matching filters can be applied to all database columns.</li>
        <li>Database records can be filtered by VDJdb confidence score value.</li>
        <li>Filtering by global alignment to pre-defined amino acid sequence with a fixed number of allowed mismatches is available for CDR3 and antigen sequence columns.</li>
        </ul>
        </p>
    </div>
</div>