<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>Database browser</h3>
            </div>
            <div class="panel-body">
                <p>Press <b>SEARCH</b> to display the table of database records.</p>

                <p>
                    Database search can be narrowed by adding text and/or sequence filters:
                <ul class="list-group">
                    <li class="list-group-item">Exact (with autocomplete), substring and REGEX pattern matching filters
                        can be applied to all database columns.
                    </li>
                    <li class="list-group-item">Database records can be filtered by VDJdb confidence score value.</li>
                    <li class="list-group-item">Filtering by global alignment against a pre-defined amino acid sequence with a
                        fixed number of allowed mismatches is available for CDR3 and antigen sequence columns.
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>