<div class="row">
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" id="headingTCR">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse-TCR">TCR</a>
                    </h3>
                </div>
                <div id="collapse-TCR" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>General</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Species
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Human
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Monkey
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Mouse
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Gene
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            TRA
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            TRB
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Germline segments</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Variable
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Joining
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>CDR3</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Sequence or pattern
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            substring
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Hamming search
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse-MHC">
                            MHC
                        </a>
                    </h4>
                </div>
                <div id="collapse-MHC" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Class and alleles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Class
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            MHCI
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            MHCII
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            First chain alleles
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Second chain alleles
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse-AG">
                            Antigen
                        </a>
                    </h4>
                </div>
                <div id="collapse-AG" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Origin</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Species
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            CMV
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            EBV
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            ...
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Gene
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Epitope</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Sequence or pattern
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            substring
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse-META">
                            Metadata
                        </a>
                    </h4>
                </div>
                <div id="collapse-META" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>General</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Pubmed IDs
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Assay type
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Multimer sorting
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Antigen loaded/expressing targets
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Other
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sequencing
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Sanger
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            High-throughput
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i
                                                    class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            Single-cell
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Record reliability</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Minimal confidence score
                                </td>
                                <td>
                                    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="3" data-slider-step="1" data-slider-value="0"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>