<div class="box box-solid">
    <div class="box-header with-border">
        Sequence filters
    </div>
    <div class="box-body text-center">
        <p ng-if="!isSequenceFiltersExist()">No sequence filters added</p>
        <table class="table table-responsive" ng-if="isSequenceFiltersExist()">
            <thead>
                <tr>
                    <th>Column name</th>
                    <th>Query</th>
                    <th>Mismatches</th>
                    <th>Insertions</th>
                    <th>Deletions</th>
                    <th>Mutations</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="filter in sequenceFilters" on-last-repeat="">
                    <td width="30%">
                        <select class="dropdown" id="{{ filter.filterId }}" name="columnId">
                            <option>Please select column name:</option>
                            <option ng-repeat="column in sequenceFiltersColumns" value="{{ column.dbName }}">{{ column.clientName }}</option>
                        </select>
                    </td>
                    <td width="30%">
                        <input class="form-control input-sm" type="text" placeholder="Query" ng-model="filter.query">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="number" placeholder="Mismatches" ng-model="filter.mismatches">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="number" placeholder="Insertions" ng-model="filter.insertions">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="number" placeholder="Deletions" ng-model="filter.deletions">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="number" placeholder="Mutations" ng-model="filter.mutations">
                    </td>
                    <td width="5%">
                        <i class="fa fa-trash" ng-click="deleteSequenceFilter(filter)" style="cursor: pointer ;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <button class="btn bg-purple btn-flat" ng-click="addSequenceFilter()">Add sequence filter</button>
    </div>
</div>