<div class="box box-solid">
    <div class="box-body text-center" ng-if="isTextFiltersExist()">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Filter value / expression</th>
                    <th>Filter type</th>
                    <th>Negative</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="filter in textFilters" on-last-repeat>
                    <td width="30%">
                        <select class="dropdown" id="{{ ::filter.filterId }}" name="columnId">
                            <option>Please select column name:</option>
                            <option ng-repeat="column in textFiltersColumns" value="{{ ::column.name }}">{{ ::column.title }}</option>
                        </select>
                    </td>
                    <td width="30%">
                        <input class="form-control input-sm" type="text" placeholder="Value" ng-model="filter.value">
                    </td>
                    <td width="30%">
                        <select class="dropdown" id="{{ ::filter.filterId }}" name="filterType">
                            <option>Please select filter type:</option>
                            <option ng-repeat="type in textFiltersTypes" value="{{ ::type.name }}">{{ ::type.title }}</option>
                        </select>
                    </td>
                    <td width="5%">
                        <input type="checkbox" ng-model="filter.negative">
                    </td>
                    <td width="5%">
                        <i class="fa fa-trash" ng-click="deleteTextFilter(filter)" style="cursor: pointer ;" data-toggle="tooltip" data-placement="top" title="Remove filter"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <button class="btn bg-purple btn-flat" ng-click="addTextFilter()">Add text filter</button>
    </div>
</div>