body {
    background-color: #ecf0f5 !important;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #605ca8;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}

.index_navbar_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 20000;
    background-color: #ffffff;
    border-bottom: 2px solid #605ca8;
}

.index_navbar {
    position: fixed;
    top: 15px;
    left: 15%;
    width: 70%;
    height: 35px;
    z-index: 20000;
    color: #1abc9c;
}

.index_navbar > .navbar_cell {
    float: left;
    width: 100px;
    height: 100%;
    cursor: pointer;
    margin: auto;
    text-align: center;
    transition: border-bottom 0.2s;
}

.navbar_cell:hover {
    border-bottom: 4px solid #605ca8;
}

.brand_cell {
    position: fixed;
    left: 100px;
    top: 0px;
    font-size: xx-large;
    width: 150px !important;
}

.cell_right {
    float: right !important;
}

.cell_wide {
    width: 350px !important;
}

.index_navbar > .navbar_cell > a {
    text-decoration: none;
    color: #605ca8;
}

.auth_wrapper {
    position: absolute;
    top:20%;
    width: 100%;
}

.wrapper {
    position: absolute;
    top: 70px;
    width: 100%;
}

.hidden_fileupload_form {
    visibility: hidden;
}