body {
    background-color: #F0F0F0;
}

/*
    Sidebar css styles
*/
.sidebar {
    height: 100%;
    width: 100%;
}
.sidebar > .sidebar_sample {
    height: 40px;
    width: 100%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar > .sidebar_sample:hover {
    background-color: #e7e7e7;
}
.sidebar > .sidebar_sample > .cell_text {
    height: 80%;
    width: 70%;
    margin: 0 auto;
}
.sample_active {
    border-left: 4px solid dodgerblue;
    background-color: #EBFAFF;
}
.sidebar_sample_delete_icon {
    right: 20px;
    margin-top: 2px;
    position: absolute;
    visibility: hidden;
}
.sidebar_sample:hover .sidebar_sample_delete_icon {
    visibility: visible;
}
.sidebar > .sidebar_delimiter_top {
    height: 20px;
    width: 100%;
    border-top: 3px solid #d2d6de;
}
.sidebar > .sidebar_delimiter_bottom {
    height: 20px;
    width: 100%;
    border-bottom: 3px solid #d2d6de;
}

/*
    Tabs css styls
*/

.tabs {
    height: 100%;
    width: 100%;
}

.tabs > .tab {
    float: left;
    margin-left: 10px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tabs > .tab .cell_text {
    height: 80%;
    width: 70%;
    margin: 0 auto;
}
.tabs > .tab:hover {
    background-color: #e7e7e7;
}
.tab_active {
    border-bottom: 3px solid dodgerblue;
}

/*
    Block page css styles
*/

.block_page_body {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    visibility: visible;
    position: fixed;
}

.block_page_body > .block_page_background {
    opacity: 0.8;
    background-color: black;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

.block_page_body > .block_page_loading {
    left: 30%;
    top:  30%;
    width: 40%;
    height: 40%;
    background-color: white;
    position: fixed;
}



.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #1abc9c;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #1abc9c;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
