<sidebar>
    <div class="col-md-2">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Samples</h3>
                <a class="btn pull-right" href="@controllers.annotations.routes.AnnotationsPages.annotationsUploadFilesPage()">Upload</a>
            </div>
            <div class="box-body">
                <div class="sidebar">
                    <div class="sidebar_sample" ng-if="!isUserHaveFiles()">
                        <div class="cell_text">You have no files</div>
                    </div>
                    <div class="sidebar_sample" ng-repeat="file in files" ng-class="{'sample_active':isFileActive(file)}" ng-click="setActiveFile(file)">
                        <div class="cell_text">{{ ::file.fileName }}
                            <i class="fa fa-trash-o sidebar_sample_delete_icon" ng-click="$event.stopPropagation(); deleteFile(file)" tooltip-placement="right" tooltip="Delete"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="sidebar_sample" ng-click="deleteAllFiles()" ng-if="isUserHaveFiles()" style="cursor : pointer ;">
                    <div class="cell_text">Delete all</div>
                </div>
            </div>
        </div>
    </div>
</sidebar>