@views.html.main("Annotations") {
    <script src="@routes.Assets.at("lib/angular/ui-bootstrap-tpls-0.14.2.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/fileUpload/jquery.ui.widget.js")"></script>
    <script src="@routes.Assets.at("lib/fileUpload/jquery.fileupload.js")"></script>
    <script src="@routes.Assets.at("lib/fileUpload/jquery.iframe-transport.js")"></script>
    <script src="@routes.Assets.at("javascripts/results.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/annotations.css")">
    <div ng-app="annotations">
        <block-page-initialization>
            <div class="block_page_body" ng-hide="isInitialized()">
                <div class="block_page_background"></div>
                <div class="block_page_loading">
                    <div class="loader" ng-if="!isInitializeFailed()"></div>
                    <div class="text-center" ng-if="isInitializeFailed()">
                            <!--  TODO css styles -->
                            Server is unavailable now.
                    </div>
                </div>
            </div>
        </block-page-initialization>
        <div class="col-lg-10 col-lg-offset-1">
            <annotations-upload>
                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3>Upload your files here</h3>
                        </div>
                        <div class="box-body">
                            <div class="tab-content">
                                <button class="btn btn-red" ng-click="addNewButtonClick()">Add file</button>
                                <form id="fileupload" method="POST" action="" enctype="multipart/form-data" class="hidden_fileupload_form">
                                    <input type="file" name="files[]" multiple/>
                                </form>
                            </div>
                            <div class="tab-content" ng-hide="isNewFilesExists()">
                                <div class="text-center">
                                    <p>Supported extensions: txt, gz</p>
                                </div>
                            </div>
                            <div class="tab-content" ng-show="isNewFilesExists()">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="file_name_th">File name</th>
                                            <th class="software_type_th">Software type</th>
                                            <th class="progress_th">Progress</th>
                                            <th class="tooltip_th"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <select id="common-software-type" ng-model="commonSoftwareType" ng-click="changeCommonSoftwareType()" class="form-control">
                                                    <option ng-repeat="type in ::softwareTypes" value="{{ ::type }}">{{ ::type }}</option>
                                                </select>
                                            </td>
                                            <td></td>
                                            <td><button class="btn btn-red pull-right upload_file_button" ng-click="uploadAll()" ng-show="isWaitingExists()">Upload all</button></td>
                                        </tr>
                                        <tr ng-repeat="file in newFiles" ng-class="{'danger':isError(file), 'success':isSuccess(file), 'warning':isRemoved(file)}">
                                            <td>
                                                <input ng-model="file.fileName" type="text" value="file.fileName" ng-show="isWaitForUpload(file)" class="form-control"
                                                ng-class="{'input_invalid_name':!isNameValid(file)}" tooltip="Name tooltip" tooltip-placement="top">
                                                <text ng-hide="isWaitForUpload(file)">{{ file.fileName }}</text>
                                            </td>
                                            <td>
                                                <select id="new-file-software-type" ng-model="file.softwareTypeName" ng-show="isWaitForUpload(file)" class="form-control">
                                                    <option ng-repeat="type in ::softwareTypes" value="{{ ::type }}">{{ ::type }}</option>
                                                </select>
                                                <text ng-hide="isWaitForUpload(file)">{{ file.softwareTypeName }}</text>
                                            </td>
                                            <td>
                                                <div class="progress progress-sm mbn" ng-show="isOk(file) && !isRemoved(file)">
                                                    <div role="progressbar" style="width: {{ file.progress }}%" class="progress-bar progress-bar-success"></div>
                                                </div>
                                                <text ng-show="isError(file)">{{ file.errorTooltip }}</text>
                                                <text ng-hide="isWaitForUpload(file) || isError(file)">{{ file.tooltip }}</text>
                                            </td>
                                            <td>
                                                <button class="btn btn-red pull-right upload_file_button_smaller" ng-click="uploadFile(file)" ng-show="isWaitForUpload(file) && isNameValid(file)">Upload</button>
                                                <button class="btn btn-red pull-right remove_file_button" ng-click="removeFile(file)" ng-show="isWaitForUpload(file)">X</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-content show_results_tab" ng-show="isUploadedFilesExists()">
                                <button class="btn btn-red pull-right" ng-click="showResults()">Show results</button>
                                <a href="@controllers.annotations.routes.AnnotationsPages.annotationsMainPage()" class="show_results_link">asd</a>
                            </div>
                        </div>
                    </div>
                </div>
            </annotations-upload>
        </div>
    </div>
}