<recordscount id="records_count">
    <div class="box box-widget">
        <div class="box-header with-border">
            <h2 class="box-title">Records Count pie chart</h2>
        </div>
        <div class="box-body">
            <div ng-hide="isRecordsCountPieChartRendering(file)">
                <button class="btn btn-default" ng-click="rerenderRecordsCount(file, 1)">1 hit</button>
                <button class="btn btn-default" ng-click="rerenderRecordsCount(file, 2)">2 or more hits</button>
            </div>
            <div class="loader" ng-if="isRecordsCountPieChartRendering(file)"></div>
            <div class="records_count_{{ file.uid }}"></div>
        </div>
    </div>
</recordscount>