@main("VDJdb: annotations") {

    <script src="@routes.Assets.at("lib/jquery/jquery-ui.min.js")" type="text/javascript"></script>
    <link href="@routes.Assets.at("lib/jquery/jquery-ui.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("lib/jquery/jquery-ui.structure.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("lib/jquery/jquery-ui.theme.min.css")" rel="stylesheet">

    <script src="@routes.Assets.at("lib/angular/plugins/websocket/angular-websocket.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/angular/plugins/bootstrap/ui-bootstrap-tpls-0.12.1.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("lib/angular/plugins/zeroclipboard/ZeroClipboard.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/angular/plugins/zeroclipboard/ng-clip.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("lib/Chart/Chart.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/angular/plugins/chart/angular-chart.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/blockpage.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/user.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/table.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/intersection/intersection.js")" type="text/javascript"></script>

    @navbar(true)
    <div class="wrapper" ng-app="intersectionPage">
        <block></block>
        <div class="container-fluid">
            <div class="row">
                @views.html.intersection.files()
                @views.html.filters.filters()
                @views.html.intersection.results()
            </div>
        </div>
    </div>
}