@main("VDJdb: annotations") {

    <script src="@routes.Assets.at("javascripts/blockpage.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/user.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/intersection/intersection.js")" type="text/javascript"></script>

    @navbar()
    <div class="wrapper" ng-app="intersectionPage">
        <block></block>
        <div class="container-fluid">
            <div class="row">
                <sidebar class="col-md-2 col-lg-2">
                    <div class="box box-solid flat">
                        <div class="box-header">
                            Files
                            <a class="pull-right" href="@routes.IntersectionAPI.uploadPage()">Upload new</a>
                        </div>
                        <div class="box-body">
                            <p ng-if="!isFilesExist()">You have no files</p>
                            <table class="table" ng-if="isFilesExist()">
                                <tbody>
                                    <tr ng-repeat="file in files()" class="sidebar_file_td">
                                        <td ng-class="{'selected_file':isFile(file)}" width="90%" ng-click="select(file)">{{ ::file.nameWithoutExt }}</td>
                                        <td><i class="fa fa-trash sidebar_file_delete" ng-click="deleteFile(file)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer" ng-if="isFilesExist()">
                            <button class="btn btn-sm btn-flat bg-purple" ng-click="deleteAllFiles()">Delete all</button>
                        </div>
                    </div>
                    <div class="box box-solid flat">
                        <div class="box-body">
                            <a href="@routes.IntersectionAPI.pushDBPage()" class="btn btn-sm btn-flat bg-purple">Add file to database</a>
                        </div>
                    </div>
                    <div class="box box-solid flat">
                        <div class="box-body">
                            <a href="/logout" class="btn btn-default btn-sm btn-flat"><i class="fa fa-sign-out"></i>Logout</a>
                        </div>
                    </div>
                </sidebar>
                <intersection class="col-md-10 col-lg-10">
                    <div class="box box-solid flat">
                        <div class="box-body">
                            <p ng-if="!isFileSelected()">No file selected</p>
                            <div ng-if="isFileSelected()">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="parameters_maxMismatches">Max mismatches</label>
                                        <input type="number" class="form-control" id="parameters_maxMismatches" ng-model="parameters.maxMismatches">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="parameters_maxInsertions">Max insertions</label>
                                        <input type="number" class="form-control" id="parameters_maxInsertions" ng-model="parameters.maxInsertions">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="parameters_maxDeletions">Max deletions</label>
                                        <input type="number" class="form-control" id="parameters_maxDeletions" ng-model="parameters.maxDeletions">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="parameters_maxMutations">Max mutations</label>
                                        <input type="number" class="form-control" id="parameters_maxMutations" ng-model="parameters.maxMutations">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="parameters.matchV"> Match V
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="parameters.matchJ"> Match J
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="col-lg-12">
                                    <button class="btn btn-sm btn-flat bg-purple" ng-click="intersect()">Intersect</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-solid flat" ng-show="isFileSelected()">
                        <div class="box-header" ng-if="isLoading()">
                            <div class="spinner">
                                <div class="cube1"></div>
                                <div class="cube2"></div>
                            </div>
                        </div>
                        <div class="box-body" ng-hide="isLoading()">
                            <div ng-repeat="file in files()" ng-show="isFile(file)">
                                <p ng-hide="isLoaded(file)">Click intersect button to start</p>
                                <div class="table-responsive">
                                <table class="table" id="intersect_report_table_{{ ::file.uid }}" cellspacing="0" width="100%" ng-show="isLoaded(file)">

                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </intersection>

            </div>
        </div>
    </div>
}