@main("VDJdb: annotations") {

    <script src="@routes.Assets.at("lib/FileUpload/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/FileUpload/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/FileUpload/jquery.fileupload.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/blockpage.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/user.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/intersection/branch.js")" type="text/javascript"></script>

    @navbar()
    <div class="wrapper" ng-app="branchPage">
        <block></block>
        <div class="container-fluid">
            <div class="row">
                <branch class="col-lg-8 col-lg-offset-2">
                    <div class="box box-solid flat">
                        <div class="box-header with-border">
                            Submitted branches
                        </div>
                        <div class="box-body">
                            <p ng-if="!isSubmittedBranchesExists() && !isUploadedFilesExists()">You have no submitted files</p>
                            <p ng-if="!isSubmittedBranchesExists() && isUploadedFilesExists()">Reload the page to see the changes</p>
                            <table class="table" ng-if="isSubmittedBranchesExists()">
                                <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th>Branch name</th>
                                        <th>File name</th>
                                        <th>Status</th>
                                        <th>Link</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="branch in submittedBranches()">
                                        <td>#{{ ::branch.uid + 1 }}</td>
                                        <td>{{ ::branch.branchName }}</td>
                                        <td>{{ ::branch.fileName }}</td>
                                        <td>{{ ::branchStatus(branch)}}</td>
                                        <td><a href="{{ branch.link }}">Link</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box box-solid flat">
                        <div class="box-body text-center" ng-if="isNewBranchesExists()">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Branch name</th>
                                        <th>File name</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="branch in newBranches" ng-class="{'danger':isError(branch), 'success':isSuccess(branch), 'warning':isRemoved(branch)}">
                                        <td width="30%">
                                            <input ng-model="branch.branchName" type="text" value="branch.branchName" class="form-control" ng-show="isWaitForUpload(branch)">
                                            <text ng-hide="isWaitForUpload(branch)">{{ branch.branchName }}</text>
                                        </td>
                                        <td width="20%">{{ ::branch.fileName }}</td>
                                        <td width="35%">
                                            <div class="progress progress-sm mbn" ng-show="isOk(branch) && !isRemoved(branch)">
                                                <div role="progressbar" style="width: {{ branch.progress }}%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                            <text ng-show="isError(branch)">{{ branch.errorTooltip }}</text>
                                            <text ng-hide="isWaitForUpload(branch) || isError(branch)">{{ branch.tooltip }}</text>
                                        </td>
                                        <td width="15%">
                                            <button class="btn btn-flat btn-sm bg-purple" ng-click="pushBranch(branch)" ng-show="isWaitForUpload(branch)">Upload</button>
                                            <button class="btn btn-flat btn-sm bg-purple" ng-click="removeBranch(branch)" ng-show="isWaitForUpload(branch)">X</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <form id="fileupload" method="POST" action="" enctype="multipart/form-data" class="hidden_fileupload_form">
                                <input type="file" name="file" multiple/>
                            </form>
                            <button class="btn btn-sm btn-flat bg-purple" ng-click="addNewButtonClick()">Add branch</button>
                            <button class="btn btn-sm btn-flat bg-purple pull-right" ng-click="pushAll()" ng-if="isNewBranchesExists()">Upload all</button>
                        </div>
                    </div>
                    <div class="box box-solid flat">
                        <div class="box-body">
                            <a href="@routes.IntersectionAPI.index()">Go to annotations page</a>
                        </div>
                    </div>
                </branch>
            </div>
        </div>
    </div>
}