@main("VDJdb: annotations") {

    <script src="@routes.Assets.at("javascripts/blockpage.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/user.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/intersection/branch.js")" type="text/javascript"></script>

    @navbar()
    <div class="wrapper" ng-app="branchPage">
        <block></block>
        <div class="container-fluid">
            <div class="row">
                <branch class="col-lg-8 col-lg-offset-2">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            Test
                        </div>
                        <div class="box-body">
                            <button class="btn btn-sm btn-flat bg-purple" ng-click="testBranch()">Test add branch</button>
                        </div>
                    </div>
                </branch>
            </div>
        </div>
    </div>
}