@main("VDJdb: annotations: upload") {

    <script src="@routes.Assets.at("lib/FileUpload/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/FileUpload/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/FileUpload/jquery.fileupload.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/user.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/blockpage.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/intersection/upload.js")" type="text/javascript"></script>

    <link href="@routes.Assets.at("stylesheets/select.css")" rel="stylesheet">
    @navbar(true)
    <div class="wrapper" ng-app="uploadPage">
        <block></block>
        <upload>
            <div class="container">
                <div class="row">
                    <div class="box box-solid flat">
                        <div class="box-header with-border">
                            Upload RepSeq samples
                        </div>
                        <div class="box-body text-center">
                            <p ng-if="!isNewFilesExists()">No files to upload..</p>
                            <table class="table" ng-if="isNewFilesExists()">
                                <thead>
                                    <tr>
                                        <th class="file_name_th">File name</th>
                                        <th class="software_th">Software type</th>
                                        <th class="progress_th">Progress</th>
                                        <th class="tooltip_th"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a class="select_trigger" ng-click="clickCommonSoftwareType()">{{ commonSoftwareType.title }}</a>
                                            <div class="select_drop_container">
                                                <ul ng-show="isShowCommonSoftwareType()">
                                                    <li ng-repeat="software in ::softwareTypes" ng-click="changeCommonSoftwareType(software)"><a>{{ ::software.title }}</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="file in newFiles" ng-class="{'danger':isError(file), 'success':isSuccess(file), 'warning':isRemoved(file)}" on-last-repeat>
                                        <td width="30%">
                                            <input ng-model="file.fileName" type="text" value="file.fileName" ng-show="isWaitForUpload(file)" class="form-control"
                                            ng-class="{'input_invalid_name':!isNameValid(file)}" tooltip="Name tooltip" tooltip-placement="top">
                                            <text ng-hide="isWaitForUpload(file)">{{ file.fileName }}</text>
                                        </td>
                                        <td width="15%">
                                            <div ng-show="isWaitForUpload(file)">
                                                <a class="select_trigger" ng-click="softwareTypeSwitch(file)">{{ file.softwareTypeTitle }}</a>
                                                <div class="select_drop_container">
                                                    <ul ng-show="isShowSoftwareTypeSelection(file)">
                                                        <li ng-repeat="software in ::softwareTypes" ng-click="changeFileSoftwareType(file, software)"><a>{{ ::software.title }}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <text ng-hide="isWaitForUpload(file)">{{ file.softwareType }}</text>
                                        </td>
                                        <td width="35%">
                                            <div class="progress progress-sm mbn" ng-show="isOk(file) && !isRemoved(file)">
                                                <div role="progressbar" style="width: {{ file.progress }}%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                            <text ng-show="isError(file)">{{ file.errorTooltip }}</text>
                                            <text ng-hide="isWaitForUpload(file) || isError(file)">{{ file.tooltip }}</text>
                                        </td>
                                        <td width="20%">
                                            <button class="btn btn-primary" ng-click="uploadFile(file)" ng-show="isWaitForUpload(file)">Upload</button>
                                            <button class="btn btn-primary" ng-click="removeFile(file)" ng-show="isWaitForUpload(file)">X</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" ng-click="addNewButtonClick()">Choose file(s)</button>
                            <button class="btn btn-primary pull-right" ng-click="uploadAll()" ng-show="isWaitingExists()">Upload all</button>
                            <form id="fileupload" method="POST" action="" enctype="multipart/form-data" class="hidden_fileupload_form">
                                <input type="file" name="file" multiple/>
                            </form>
                        </div>
                    </div>
                    <div class="box box-solid flat">
                        <div class="box-body">
                            <a href="@routes.IntersectionAPI.index()">Back to annotation page</a>
                        </div>
                    </div>
                </div>
            </div>
        </upload>
    </div>
}