<filters-v2>
<div class="row">
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading" id="headingTCR">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse-TCR">TCR</a>
                    </h3>
                </div>
                <filters-tcr id="collapse-TCR" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                General
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <p class="vcenter">Species</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="general_tcr.human">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Human
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="general_tcr.monkey">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Monkey
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="general_tcr.mouse">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Mouse
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <p class="vcenter">Gene (chain)</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="general_tcr.tra">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                TRA
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="general_tcr.trb">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                TRB
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Germline sequence
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Variable segment(s)</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Joining segment(s)</p>
                                    </div>
                                    <div class="col-xs-1 vcenter">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 vcenter">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                CDR3
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Sequence or pattern</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                substring
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">By hamming distance</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="col-xs-3">
                                        Substitutions
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">-</button>
                                            </span>
                                            <input type="text" class="form-control" style="text-align:center;" value="0">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">+</button>
                                            </span>
                                        </div>
                                        Insertions
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">-</button>
                                            </span>
                                            <input type="text" class="form-control" style="text-align:center;" value="0">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">+</button>
                                            </span>
                                        </div>
                                        Deletions
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">-</button>
                                            </span>
                                            <input type="text" class="form-control" style="text-align:center;" value="0">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">+</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </filters-tcr>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse-AG">
                            Antigen
                        </a>
                    </h4>
                </div>
                <div id="collapse-AG" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Origin
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Source species</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Parent gene</p>
                                    </div>
                                    <div class="col-xs-1 vcenter">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 vcenter">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Epitope
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Sequence(s)</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Sequence or pattern</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                substring
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse-MHC">
                            MHC
                        </a>
                    </h4>
                </div>
                <filters-mhc id="collapse-MHC" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                General
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Class</p>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="general_mhc.mhc1_class">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                MHCI
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="general_mhc.mhc2_class">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                MHCII
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Haplotype
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">First chain allele(s)</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Second chain allele(s)</p>
                                    </div>
                                    <div class="col-xs-1 vcenter">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 vcenter">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </filters-mhc>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapse-META">
                            Metadata
                        </a>
                    </h4>
                </div>
                <div id="collapse-META" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                General
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <p class="vcenter">Pubmed ID(s)</p>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <p class="vcenter">Assay type</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Multimer sorting
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Culture-based
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Other
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <p class="vcenter">Sequencing</p>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Sanger
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                High-throughput
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked>
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Single-cell
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Record reliability
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="vcenter">Minimal confidence score</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">-</button>
                                            </span>
                                            <input type="text" class="form-control" style="text-align:center;" value="0">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">+</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <p class="vcenter">Spurious CDR3</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i
                                                        class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                Include non-canonical
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</filters-v2>