<!-- Select styling -->
<link href="@routes.Assets.at("stylesheets/select.css")" rel="stylesheet">
<filters class="row">
    <div class="col-md-12" ng-if="!isFiltersLoaded()">
        @views.html.filters.loadingFilters()
    </div>
    <div class="col-md-12" ng-if="isFiltersLoaded() && !isFiltersError()">
        @views.html.filters.textFilters()
        @views.html.filters.sequenceFilters()
    </div>
    <div class="col-md-12" ng-if="isFiltersError()">
        @views.html.filters.errorFilters()
    </div>
</filters>