<filters-mhc>
<div class="col-md-12" ng-if="mhc_options.block">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapse-MHC" ng-if="mhc_options.collapse">MHC</a>
                    <a role="button" ng-if="!mhc_options.collapse">MHC</a>
                </h3>
            </div>
            <div id="collapse-MHC" ng-class="{'collapse':mhc_options.collapse}">
                    <div class="panel-body">
                        <div class="panel panel-default" ng-if="mhc_options.general">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                        General
                                    <span data-toggle="tooltip" data-placement="right"
                                    title="Specify MHC class restriction."
                                    class="glyphicon glyphicon-question-sign">
                                    </span>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="p_label">Class</p>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="mhc_class.mhci">
                                                <span class="cr"><i
                                                class="cr-icon glyphicon glyphicon-ok"></i></span> MHCI
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="mhc_class.mhcii">
                                                <span class="cr"><i
                                                class="cr-icon glyphicon glyphicon-ok"></i></span> MHCII
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-if="mhc_options.haplotype">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                        Haplotype
                                    <span data-toggle="tooltip" data-placement="right"
                                    title="</p>Specify first and second MHC allele filters.</p><p>Click on the text field to see the list of known MHC allele IDs, start typing to narrow the list. Multiple IDs can be selected by separating them with a comma.</p><p>Incomplete queries will be treated as substrings. For example 'HLA-A*02' will match 'HLA-A*02, HLA-A*02, HLA-A*02:01 etc'.</p><p>The second MHC allele is only meaningful for MHC class II and is set to B2M (beta 2 microglobulin) for MHC class I records.</p>"
                                    class="glyphicon glyphicon-question-sign">
                                    </span>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="p_label">First chain allele(s)</p>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="select_drop">
                                            <input class="form-control" type="text" placeholder="Comma separated list of MHC alleles, start typing to see suggestions..." ng-model="mhc_a.value">
                                            <div class="select_drop_container">
                                                <ul>
                                                    <li ng-repeat="value in mhc_a.autocomplete | filterSubstringComma:mhc_a.value" ng-click="appendMhcA(value)">{{ ::value }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <p class="p_label">Second chain allele(s)</p>
                                    </div>
                                    <div class="col-xs-8 vcenter">
                                        <div class="select_drop">
                                            <input class="form-control" type="text" placeholder="Comma separated list of MHC alleles, start typing to see suggestions..." ng-model="mhc_b.value">
                                            <div class="select_drop_container">
                                                <ul>
                                                    <li ng-repeat="value in mhc_b.autocomplete | filterSubstringComma:mhc_b.value" ng-click="appendMhcB(value)">{{ ::value }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</filters-mhc>
