<div class="box box-solid" ng-if="!isSequenceFiltersHidden()">
    <div class="box-body text-center" ng-if="isSequenceFiltersExist()">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Query</th>
                    <!--<th>Preset</th>-->
                    <th>Substitutions</th>
                    <th>Insertions</th>
                    <th>Deletions</th>
                    <th>Total</th>
                    <!--
                    <th>Precision</th>
                    <th>Recall</th>
                    -->
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="filter in sequenceFilters" on-last-repeat="" ng-class="{'block_sequence_filter':filter.loading}">
                    <td width="20%">
                        <a class="select_trigger" ng-click="switchColumnVisible(filter)">{{ filter.columnTitle }}</a>
                        <div class="select_drop_container">
                            <ul ng-show="isColumnActive(filter)">
                                <li ng-repeat="column in sequenceFiltersColumns" ng-click="clickSequenceColumn(filter, column)"><a>{{ ::column.title }}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td width="25%">
                        <input class="form-control input-sm" type="text" placeholder="Query" ng-model="filter.query">
                    </td>
                    <!--
                    <td>
                        <a class="select_trigger" ng-click="switchPresetVisible(filter)"> {{ filter.preset.name }}</a>
                        <div class="select_drop_container">
                            <ul ng-show="isPresetActive(filter)">
                                <li ng-repeat="preset in presets" ng-click="clickPreset(filter, preset)"><a>{{ ::preset.name }}</a></li>
                            </ul>
                        </div>
                    </td>
                    -->
                    <td width="5%">
                        <input class="form-control input-sm" type="number" max="5" min="0" placeholder="Mutations" ng-model="filter.mutations">
                    </td>
                    <td width="5%">
                        <input class="form-control input-sm" type="number" max="2" min="0"  placeholder="Insertions" ng-model="filter.insertions">
                    </td>
                    <td width="5%">
                        <input class="form-control input-sm" type="number" max="2" min="0" placeholder="Deletions" ng-model="filter.deletions">
                    </td>
                    <td width="5%">
                        <input class="form-control input-sm" type="number" max="7" min="0" placeholder="Mismatches" ng-model="filter.mismatches">
                    </td>
                    <!--
                    <td width="10%">
                        <slider ng-model="filter.precision" min="sliderOptions.min" step="sliderOptions.step" max="sliderOptions.max" value="sliderOptions.value" on-stop-slide="precisionStopSlide(filter)"></slider>
                    </td>
                    <td width="10%">
                        <slider ng-model="filter.recall" min="sliderOptions.min" step="sliderOptions.step" max="sliderOptions.max" value="sliderOptions.value" on-stop-slide="recallStopSlide(filter)"></slider>
                    </td>
                    -->
                    <td width="5%">
                        <i class="fa fa-trash" ng-click="deleteSequenceFilter(filter)" style="cursor: pointer ;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <button class="btn bg-purple btn-flat" ng-click="addSequenceFilter()">Add sequence filter</button>
    </div>
</div>