@(message: String)

@main("Welcome to Play") {
    <script>
        function wtf() {
        $.ajax({
                type: "POST",
                url: '/api/search',
                data: JSON.stringify({
                    token: '4b489d27-ed03-43e1-811d-7118524ы6d8a1',
                    filters: [{
                        type: 'match',
                        field: 'v',
                        value: 'TRBV29-1',
                        match: true
                    },
                    {
                        type: 'fuzzy',
                        field: 'j',
                        value: 'TRBJ1-4',
                        distance: 1
                    },
                    {
                        type: 'pattern',
                        field: 'cdr3',
                        value: 'CSSQEGG__YT',
                        match: true
                    }
                    ]
                }),
                success: function(data) {
                    console.log(data);
                },
                error: function(data) {
                    console.log(data);
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        }
    </script>
    <button onclick="wtf()">NAZHMI</button>
}