@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>

            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("lib/fontawesome/css/font-awesome.min.css")" rel="stylesheet">

            <!-- Theme styling -->
        <link href="@routes.Assets.at("lib/bootstrap/adminlte.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

            <!-- Faficon path -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

            <!-- jQuery plugin 2.2.0 -->
        <script src="@routes.Assets.at("lib/jquery/jquery-2.2.0.js")"></script>

            <!-- Angular -->
        <script src="@routes.Assets.at("lib/angular/angular.min.js")"></script>

    </head>
    <body>
        @content
    </body>
</html>
