@(logoutButton: Boolean)
<div class="index_navbar_background"></div>
<div class="index_navbar">
    <div class="navbar_cell">
        <a href="@routes.Application.index()">Home</a>
    </div>
    <div class="navbar_cell">
        <a href="@routes.SearchAPI.index()">Browse</a>
    </div>
    <div class="navbar_cell">
        <a href="@routes.IntersectionAPI.index()">Annotate</a>
    </div>
    @if(logoutButton) {
        <div class="navbar_cell pull-right">
            <a href="/logout">Logout</a>
        </div>
    }
    <div class="navbar_cell pull-right">
        <a href="@routes.Application.about()">About</a>
    </div>
</div>