@main("VDJdb: about") {
    @navbar()

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            About
                        </div>
                        <div class="box-body">
                            <p>
                                VDJdb web browser is developed and maintained by Dmitry Bagaev (@@bvdmitri). 
                                The software is open-source and free, the source code is hosted <a href="http://www.w3schools.com">Visit W3Schools.com!</a>.
                                VDJdb-server can be also installed locally following the instructions provided here
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3>Credits</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                VDJdb web browser application (VDJdb-server) is developed and maintained by <b>Dmitry Bagaev</b> (<a href="https://github.com/bvdmitri">@@bvdmitri</a>).
                            </p>    
                            <p>
                                Standalone API for VDJdb and database management system (VDJdb-standalone and VDJdb-db) is developed and maintained by <b>Mikhail Shugay</b> (<a href="https://github.com/mikessh">@@mikessh</a>).
                            </p>
                            <p>
                                VDJdb database is a collaborative effort within the framework of <b>Advanced bioinformatics platform for PERsonalized cancer IMmunotherapy (APERIM)</b> project.
                                <b>APERIM</b> is a Horizon2020-funded project coordinated by the Medical University of Innsbruck, Austria. For more information please see <a href="http://aperim.eu">aperim.eu</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}