@main("VDJdb: about") {
@navbar(false)

<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h2  class="panel-title">The software</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            VDJdb web browser application is an open-source software implemented using Play Framework
                            and Bootstrap. A standalone version of the software can be installed locally,
                            the following <a href="https://github.com/antigenomics/vdjdb-server">link</a>
                            contains the software package and installation instructions.
                        </p>
                        <p>
                            Users interested in contributing TCR sequences of known antigen specificity to the database
                            or obtain the database as a plain-text table can do so by
                            following this <a href="https://github.com/antigenomics/vdjdb-db">link</a>.
                        </p>
                        <p>
                            A standalone command-line software (VDJdb-standalone) should be preferred in cases when huge
                            amounts of immune repertoire sequencing data are being analyzed or when users are interested
                            in
                            obtaining unprocessed output for post-analysis purposes. The corresponding software package
                            is available <a href="https://github.com/antigenomics/vdjdb-standalone">here</a>.
                        </p>
                        <p>
                            You might be also interested in our lightweight immune repertoire browser
                            <a href="https://github.com/antigenomics/vdjviz">VDJviz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">Credits</h2>
                    </div>
                    <div class="panel-body">
                        <p>
                            VDJdb database is a collaborative effort supported by Horizon2020 Advanced bioinformatics platform for PERsonalized cancer IMmunotherapy (<a href="http://aperim.eu">APERIM</a>) project and Pirogov Russian National Research Medical University (<a href="http://rsmu.ru/home_en.html">RNIMU</a>).
                        </p>
                        <p>
                            VDJdb web browser application (VDJdb-server) is developed and maintained by
                            <b>Dmitry Bagaev</b> (<a href="https://github.com/bvdmitri">@@bvdmitri</a>).
                        </p>
                        <p>
                            Standalone API for VDJdb and database management system (VDJdb-standalone and VDJdb-db)
                            is developed and maintained by <b>Mikhail Shugay</b> (<a href="https://github.com/mikessh">@@mikessh</a>).
                        </p>

                        <p>We are also very grateful to all VDJdb contributors.</p>

                        <div class="row">
                            <div class="col-lg-8">
                                <a href="https://www.ceitec.eu"><img class="img-responsive" style="padding: 50px" src="@routes.Assets.at("images/ceitec-banner.gif")"
                                alt="CEITEC"></a>
                            </div>
                            <div class="col-lg-4">
                                <a href="http://rsmu.ru/home_en.html"><img class="img-responsive" src="@routes.Assets.at("images/rnimu.jpg")" alt="RNIMU"></a>
                            </div>  
                            <div class="col-lg-12">
                                <a href="href="http://aperim.eu" "><img class="img-responsive" style="padding: 25px" src="@routes.Assets.at("images/aperim-banner.png")" alt="APERIM"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}