@main("VDJdb: not found") {

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="jumbotron" style="background-color: white; top : 200px; width: 100%;  position: absolute">
                    <div class="col-lg-3">
                        <h1 style="color : #377eb8 ;">404</h1>
                    </div>
                    <div class="col-lg-9">
                        <h4>Oops! Page not found.</h4>
                        <h4>We could not find the page you were looking for.</h4>
                        <a href="@routes.Application.index()" class="btn btn-primary btn-flat">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}